.app_wrapper
	margin 0 auto
	width 350px

	h2
		text-align center

.newline
	display table
	margin 0 auto

.player_wrapper
	margin 10px auto

	div
		width 50%
		text-align center
		display inline-block